<mat-vertical-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Project information</ng-template>
        <mat-form-field>
            <mat-label>Select a project</mat-label>
            <mat-select formControlName="project_id" required>
                <mat-option *ngFor="let projectId of projectIds" value="{{ projectId.value }}">{{ projectId.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext [disabled] = "firstFormGroup.invalid" class="primary-button">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Task information</ng-template>
        <form [formGroup]="secondFormGroup">
            <mat-form-field class="full-width">
            <ng-template matStepLabel>Task name</ng-template>
            <input matInput placeholder="Task name" formControlName="task_name" required/>
            </mat-form-field>
            <mat-form-field class="full-width">
            <ng-template matStepLabel>Task description</ng-template>
            <textarea matInput placeholder="Task description" formControlName="task_description" required></textarea>
            </mat-form-field>
        </form><br />
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button class="primary-button" (click)="submitTask()">Submit</button>
        </div>
    </mat-step><br />
  </mat-vertical-stepper>
  <button mat-button (click)="onNoClick()">Close</button>