<div class="col-xs-12" id="wrapper">
  <div class="col-lg-12 block-header">
    Your tasks
  </div>
  <mat-divider></mat-divider>
  <div class="col-lg-12 block-content">
    <div class="centered-loading" *ngIf="yourTask.length < 1 && yourTaskError !== true" layout="row" layout-align="center center">
      <mat-spinner></mat-spinner>
    </div>
    <div class="centered-loading" *ngIf="yourTask.length < 1 && yourTaskError === true" layout="row" layout-align="center center">
      <span>You don't have any tasks added.</span>
    </div>
    <span *ngIf="yourTask.length > 0">
      <div *ngFor="let t of yourTask"><a href="/tasks/{{ t.id }}">{{ t.name }}</a></div>
    </span>
  </div><br />
  <button mat-button (click)="addTask()" class="primary-button">Add task</button><br /><br />
  <div class="col-lg-12 block-header">
    All tasks
  </div>
  <mat-divider></mat-divider>
  <div class="col-lg-12 block-content">
    <div class="centered-loading" *ngIf="allTask.length < 1 && allTaskError !== true" layout="row" layout-align="center center">
      <mat-spinner></mat-spinner>
    </div>
    <div class="centered-loading" *ngIf="allTask.length < 1 && allTaskError === true" layout="row" layout-align="center center">
      <span>No other tasks to show.</span>
    </div>
    <span *ngIf="allTask.length > 0">
      <div *ngFor="let t of allTask"><a href="/tasks/{{ t.id }}">{{ t.name }}</a></div>
    </span>
  </div><br /><br />
  <br />
  <button mat-button (click)="addTask()" class="primary-button">Add task</button>
</div>
