<mat-vertical-stepper [linear]="false" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Project information</ng-template>
      <mat-form-field>
        <input matInput placeholder="Project name" formControlName="project_name" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext class="primary-button">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Project details</ng-template>
      <mat-form-field class="full-width">
        <ng-template matStepLabel>Project description</ng-template>
        <textarea matInput placeholder="Project name" formControlName="project_description" required ></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext class="primary-button">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Add tasks (optional)</ng-template>
    <form [formGroup]="thirdFormGroup">
      <mat-form-field class="full-width">
        <ng-template matStepLabel>Task name</ng-template>
        <input matInput placeholder="Task name" formControlName="task_name" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <ng-template matStepLabel>Task description</ng-template>
        <textarea matInput placeholder="Task description" formControlName="task_description" ></textarea>
      </mat-form-field>
      <small>*Both fields are mandatory to add a task.</small>
    </form><br />
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button class="primary-button" (click)="submitProject()">Submit</button>
    </div>
  </mat-step><br />
</mat-vertical-stepper>
<button mat-button (click)="onNoClick()">Close</button>
