<div class="col-xs-12" id="wrapper">
  <div class="col-lg-12 block-header">
    Your projects
  </div>
  <mat-divider></mat-divider>
  <div class="col-lg-12 block-content">
    <div class="centered-loading" *ngIf="yourProjects.length < 1 && yourProjectsError !== true" layout="row" layout-align="center center">
      <mat-spinner></mat-spinner>
    </div>
    <div class="centered-loading" *ngIf="yourProjects.length < 1 && yourProjectsError === true" layout="row" layout-align="center center">
      <span>You don't have any project of your own.</span>
    </div>
    <mat-expansion-panel *ngFor="let project of yourProjects">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <div class="col-lg-12 no-margin no-padding">
                <div class="col-lg-10 bold mat-panel-title-div">{{ project.project_name }}</div><br />
              </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <span class="bold">Description</span><br />
          {{ project.project_description }}
        </div>
        <br /><mat-divider></mat-divider><br />
        <div>
          <span class="bold">Task list</span><br />
          <span *ngIf="project.task.length < 1">No tasks to show</span>
          <span *ngIf="project.task.length > 0">
            <div *ngFor="let t of project.task"><a href="/tasks/{{ t.id }}">{{ t.name }}</a></div>
          </span>
        </div>
        <br /><mat-divider></mat-divider><br />
        <div>
          <span class="bold">People involved</span><br />
          <span *ngIf="project.people_involved.length < 1">No info to show</span>
          <div *ngIf="project.people_involved.length > 0">
            <div *ngFor="let people of project.people_involved">
              {{ people }}
            </div>
          </div>
        </div>
      </mat-expansion-panel>
  </div><br /><br />
  <div class="col-lg-12 block-header">
    All projects
  </div>
  <mat-divider></mat-divider>
  <div class="col-lg-12 block-content">
    <div class="centered-loading" *ngIf="allProjects.length < 1 && allProjectsError !== true" layout="row" layout-align="center center">
      <mat-spinner></mat-spinner>
    </div>
    <div class="centered-loading" *ngIf="allProjects.length < 1 && allProjectsError === true" layout="row" layout-align="center center">
      <span>No other projects to show.</span>
    </div>
    <mat-expansion-panel *ngFor="let project of allProjects">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <div class="col-lg-12 no-margin no-padding">
                <div class="col-lg-10 bold mat-panel-title-div">{{ project.project_name }}</div><br />
              </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <span class="bold">Description</span><br />
          {{ project.project_description }}
        </div>
        <br /><mat-divider></mat-divider><br />
        <div>
          <span class="bold">Task list</span><br />
          <span *ngIf="project.task.length < 1">No tasks to show</span>
          <span *ngIf="project.task.length > 0">
            <div *ngFor="let t of project.task"><a href="/tasks/{{ t.id }}">{{ t.name }}</a></div>
          </span>
        </div>
        <br /><mat-divider></mat-divider><br />
        <div>
          <span class="bold">People involved</span><br />
          <span *ngIf="project.people_involved.length < 1">No info to show</span>
          <div *ngIf="project.people_involved.length > 0">
            <div *ngFor="let people of project.people_involved">
              {{ people }}
            </div>
          </div>
        </div>
      </mat-expansion-panel>
  </div><br /><br />
  <br />
  <button mat-button (click)="addProject()" class="primary-button">Add project</button>
</div>
