body, html {
  height: 100%;
}

#login-wrapper {
  height: calc(100vh);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  color: #666666;
  position: relative;
}
#login-details {
  margin: auto;
  padding: 10px;
  position: absolute;
  top: 30%; left: 0; bottom: 0; right: 0;
  text-align: center;
}
.login-form-field {
  width: 100%;
}
/** Overrides underline color **/
.login-form-field.mat-form-field-appearance-legacy .mat-form-field-underline,
.login-form-field.mat-form-field-appearance-legacy .mat-form-field-ripple,
.login-form-field.mat-form-field-appearance-legacy.mat-focused
	.mat-form-field-underline,
.login-form-field.mat-form-field-appearance-legacy.mat-focused
	.mat-form-field-ripple {
	background-color: #666666 !important;
}

/** Overrides label color **/
.login-form-field.mat-form-field-appearance-legacy .mat-form-field-label,
.login-form-field.mat-form-field-appearance-legacy.mat-focused
	.mat-form-field-label {
	color: #666666;
}

/** Overrides caret & text color **/
.login-form-field.mat-form-field-appearance-legacy .mat-input-element {
	caret-color: #666666;
  color: #666666;
  width: 100%;
  border-bottom: 1px solid #666666;
  border-radius: 0px;
}

::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple {
  background-color: #fff !important;
}
.mat-form-field-label {
  color: #666666 !important;
}
input.mat-input-element {
  background: transparent;
  color: #666666;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  -webkit-text-fill-color: #666666;
  -webkit-box-shadow: none;
  color: #666666;
  transition: background-color 5000s ease-in-out 0s;
}

.row-wrapper {
  position: relative;
}
.send {
  position: absolute;
  top: 0;
  right: 0;
  width: 4.4em;
}

.logo {
  max-width: 200px;
  border-radius: 50%;
  margin: 50px 0;
}
.invalid-msg {
  margin: 5px 0 0 0;
  font-size: 0.9em;
}
.remember-me {
  float: right;
  width: 60%;
}
.remember-me .item-inner {
  border-bottom: none !important;
}
ion-checkbox {
  margin: auto !important;
}
.checkbox-icon {
  border-radius: 0px !important;
}
.forgot-password {
  font-size: 15px;
}
.note {
  margin-top: 25px !important;
}
