
<ng-template >Add worked hours</ng-template>
<form [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <ng-template >Hours</ng-template>
    <input matInput placeholder="Hours" formControlName="hours" required/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <ng-template >Description</ng-template>
    <textarea matInput placeholder="Description" formControlName="description" required></textarea>
  </mat-form-field>
</form><br />
<div>

  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button class="primary-button" (click)="submitHour()">Submit</button>
</div><br />
