<div class="col-xs-12" id="wrapper">
  <div class="col-lg-12 block-header bold">
    {{ tsks.task_name }}
  </div>
  <mat-divider></mat-divider>
  <div class="col-lg-12 block-content">
    <div class="centered-loading" *ngIf="tsks.length < 1 && tasksError !== true" layout="row" layout-align="center center">
      <mat-spinner></mat-spinner>
    </div>
    <div class="centered-loading" *ngIf="tsks.length < 1 && tasksError === true" layout="row" layout-align="center center">
      <span>You don't have any activity of your own.</span>
    </div>
    <div layout="row">
      <div>
        Personal working hours: {{ tsks.personal_worked_hours }}
      </div>
    </div>
  </div><br />
  <button mat-button (click)="addHour()" class="primary-button">Add hours</button>
  <br /><br />
  <div class="col-lg-12 block-header">
    Other people working on this task
  </div>
  <mat-divider></mat-divider>
  <div class="col-lg-12 block-content">
    <div class="centered-loading" *ngIf="tsks.length < 1 && tasksError !== true" layout="row" layout-align="center center">
      <mat-spinner></mat-spinner>
    </div>
    <div class="centered-loading" *ngIf="tsks.length < 1 && tasksError === true" layout="row" layout-align="center center">
      <span>There are no other activity to show.</span>
    </div>
    <div>
      <div>
        Total working hours: {{ tsks.total_worked_hours }}
      </div>
      <div>
        Involved people: {{ tsks.involved_people }}
      </div>
    </div>
    
  </div><br /><br />
  
</div>

