<div class="col-xs-12" id="wrapper">
  <div class="col-lg-12 block-header">
    This week
  </div>
  <mat-divider></mat-divider>
  <div class="col-lg-12 block-content">
    <div class="centered-loading" *ngIf="week.length < 1 && weekError !== true" layout="row" layout-align="center center">
      <mat-spinner></mat-spinner>
    </div>
    <div class="centered-loading" *ngIf="week.length < 1 && weekError === true" layout="row" layout-align="center center">
      <span>No info to show.</span>
    </div>
    <div>
      <span class="bold">Total hours worked:</span> {{ week.hours }}
    </div>
    <div>
      <span class="bold">Total tasks worked on:</span> {{ week.tasks }}
    </div>
    <div>
      <span class="bold">Total projects worked on:</span> {{ week.projects }}
    </div>
  </div><br />
  <div class="col-lg-12 block-header">
    This month
  </div>
  <mat-divider></mat-divider>
  <div class="col-lg-12 block-content">
    <div class="centered-loading" *ngIf="month.length < 1 && monthError !== true" layout="row" layout-align="center center">
      <mat-spinner></mat-spinner>
    </div>
    <div class="centered-loading" *ngIf="month.length < 1 && monthError === true" layout="row" layout-align="center center">
      <span>No other tasks to show.</span>
    </div>
    <div>
      <span class="bold">Total hours worked:</span> {{ month.hours }}
    </div>
    <div>
      <span class="bold">Total tasks worked on:</span> {{ month.tasks }}
    </div>
    <div>
      <span class="bold">Total projects worked on:</span> {{ month.projects }}
    </div>
  </div><br /><br />
  <br />
</div>
