.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
#menu {
	background: #F5F5F5 !important;
  z-index: 3;
  color: #138cd8;
  width: 180px;
  font-size: 11px;
}
mat-icon {
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
.mat-list-item {
    display: inline-block !important;
}

.mat-list-base {
  padding-top: 0px;
}

.mat-icon-button {
  border-radius: 0px;
}
.mat-icon-menu {
  margin-left: 0px;
  color: #6a6c6f;
}
.menu-names {
  color: #212121;
}

#logo {
  width: 179px;
  height: 60px;
  margin-left: -15px;
  margin-top: -4px;
  background: #138cd8 !important;
}
.logo-img {
  display: block;
  width: 60%;
  height: 60%;
  margin: 0 auto;
  margin-top: 13px;
}

.menu-active,
.menu-active .menu-names {
  background-color: #48BC2F !important;
  color: #fff;

}

.user-welcome {
  margin-left: 10px;
}

.logout-button {
  border: 0px;
  background-color: #F5F5F5;
  float: right;
  right: 10px;
  position: absolute;
}

.logo-name {
  margin-top: 15px;
  margin-left: 28px;
}

.logo-time {
  color: #fff;
}

.logo-tracker {
  color: #48BC2F;
  font-weight: bold;
}