<mat-toolbar>
  <mat-toolbar-row>
      <div id="logo" class="light-version header-logo">
        <div class="logo-name">
          <span class="logo-time">Time</span>
          <span class="logo-tracker">Tracker</span>
        </div>
      </div>
    <button type="button" aria-label="Toggle sidenav" class="material-icons-menu" mat-icon-button (click)="drawer.toggle()" color="primary">
      <mat-icon aria-label="Side nav toggle icon" class="mat-icon-menu">menu</mat-icon>
    </button>
    <div class="user-welcome">Hi, {{userProvider.getUser().user_first_name}}</div>
    <button class="logout-button" (click)="logout()"><mat-icon class="logout-icon">exit_to_app</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer id="menu" [opened]="!mobileQuery.matches ? true : false" mode="side" opened role="navigation">
    <mat-nav-list>
      <a mat-list-item class="primary-menu" routerLink="/" [routerLinkActive]="['menu-active']" [routerLinkActiveOptions]="{ exact: true }"><mat-icon>home</mat-icon><span class="menu-names">Home</span></a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item routerLink="projects" [routerLinkActive]="['menu-active']" class="primary-menu"><mat-icon>group</mat-icon><span class="menu-names">Projects</span></a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item routerLink="tasks" [routerLinkActive]="['menu-active']" class="primary-menu"><mat-icon>person</mat-icon><span class="menu-names">Tasks</span></a>
    </mat-nav-list>
    
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
