/* You can add global styles to this file, and also import other style files */
.clear {
    clear: both;
}
#wrapper {
    z-index: 4 !important;
    padding: 0;
    background: #f1f3f6;
    border-left: 1px solid #e4e5e7;
    height: 100%;
}
