/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

hhtml, bbody { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
.mat-list-base .primary-menu .mat-list-item-content {
    padding: 0px !important;
}
#wrapper {
    margin: 20px;
}
.block-header {
    background: #fff;
    border: 1px solid #e4e5e7;
    border-radius: 2px;
    padding: 20px;
    position: relative;
}
.block-content {
    background: #fff;
    border: 1px solid #e4e5e7;
    border-radius: 2px;
    padding: 20px;
    position: relative;
}
.bold {
    font-weight: bold;
}

.clear {
    clear: both;
}

.no-margin {
    margin: 0px !important;
}

.no-padding {
    padding: 0px !important;
}

.centered-loading {
    display: table;
    margin: 0 auto;
}

.hidden-text {
    color: transparent;
    text-shadow: 0 0 7px rgba(0,0,0,5);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.primary-button {
    color: #fff;
    background-color: #48BC2F !important;
}

#login-details .mat-form-field-suffix {
    border: 1px solid #666666;
}
#login-details .mat-form-field-label {
    color: #666666;
}

.full-width {
    width: 100% !important;
}

.mat-slider-thumb-label-text {
    text-align: center !important;
    background-color: #FFD741 !important;
    padding: 3px;
    border-radius: 10px;
}



@media screen and (max-width: 600px) {
    .cdk-overlay-pane {
        overflow: scroll !important;
    }
}